* {
    box-sizing: border-box;
}

body {
    color: #1a1b1f;
    background-color: #0d0d0d;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    font-weight: 400;
    line-height: 62px;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}

h3 {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

p {
    color: #efefef;
    margin-bottom: 10px;
}

a {
    color: #00baff;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
    display: inline-block;
}

a {
    color: #00baff;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s;
    display: inline-block;
}

a:hover {
    color: #00baff;
    text-decoration: none;
}

a:active {
    color: #43464d;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
}

img {
    display: block;
}

label {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

blockquote {
    border-left: 5px solid #e2e2e2;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 34px;
}

figure {
    margin-top: 25px;
    padding-bottom: 20px;
}

figcaption {
    opacity: .6;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a35571c9a94e2d435c_Gellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a33fb88d836b46dfb5_Gellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a3294f0953023e851b_Gellix-Bold.ttf') format('truetype'), url('https://assets.website-files.com/625c39b93541414104a1d654/625dd1a4c471276a3aac6d0d_Gellix-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a3ec9d3d4ca73e5c5f_Gellix-ExtraBoldItalic.ttf') format('truetype'), url('https://assets.website-files.com/625c39b93541414104a1d654/625dd1a3ff9efc553e875a1e_Gellix-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a3a3f00b83985b12c7_Gellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a34348efaccdef4759_Gellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a4294f0929103e852a_Gellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a4a7707547810657c3_Gellix-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a46021b778f897fb04_Gellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a4abb06c7b0d41c5d6_Gellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a49f14881bd274a59d_Gellix-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a4cd8c844b7e31bce5_Gellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a44348ef5037ef475a_Gellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('/font/625dd1a5a05d406a9b99224e_Gellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

:root {
    font-family: Gellix, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: white;
    --dark-gray: #191919;
    --blue--blue: #1048f9;
    --black: black;
    --blue--sky: #00baff;
    --light-gray: #afafaf;
    --greenlight: #a3f8da;
    --green--light: #a3f8da;
    --green: #74f99b;
    --grey--gray: #efefef;
    --orange: #f17b4e;
    --orange--pink: #ef8e7f;
    --orange--dark: #ef5735;
    --grey--medium: #8f8f8f;
}

body {
    color: #1a1b1f;
    background-color: #0d0d0d;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
.w-col {
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.w-col-9 {
    width: 75%;
}

.w-col-3 {
    width: 25%;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.w-users-userformpagewrap {
    height: 100vh;
    max-width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.w-users-userformheader {
    text-align: center;
}

.w-pagination-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.w-pagination-previous {
    color: #333;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 20px;
    font-size: 14px;
    display: block;
}

.w-pagination-previous-icon {
    margin-right: 4px;
}

.w-pagination-next {
    color: #333;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 20px;
    font-size: 14px;
    display: block;
}

.w-pagination-next-icon {
    margin-left: 4px;
}

.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}

.w-checkbox:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-userloginformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-userformbutton {
    width: 100%;
    text-align: center;
}

.w-users-userformfooter {
    justify-content: space-between;
    margin-top: 12px;
    display: flex;
}

.w-users-userformerrorstate {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
}

.w-users-userresetpasswordformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-userformsuccessstate {
    display: none;
}

.w-users-usersignupformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
    display: none;
}

.w-users-userupdatepasswordformwrapper {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.w-users-useraccountwrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.w-users-blockheader {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 20px;
    display: flex;
}

.w-users-blockcontent {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding: 20px;
}

.w-users-useraccountformsavebutton {
    text-align: center;
    margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
    text-align: center;
    color: #333;
    background-color: #d3d3d3;
}

.w-embed-youtubevideo {
    width: 100%;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg");
    background-position: 50%;
    background-size: cover;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.w-embed-youtubevideo:empty {
    min-height: 75px;
    padding-bottom: 56.25%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.z-10 {
    z-index: 10;
}

.relative {
    position: relative;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.bg-black\/25 {
    background-color: rgb(0 0 0 / 0.25);
}

.inset-0 {
    inset: 0px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.leading-6 {
    line-height: 1.5rem;
}

.text-center {
    text-align: center;
}

.p-4 {
    padding: 1rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.min-h-full {
    min-height: 100%;
}

.flex {
    display: flex;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fixed {
    position: fixed;
}

.w-full {
    width: 100%;
}

.max-w-md {
    max-width: 28rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.p-6 {
    padding: 1.5rem;
}

.text-left {
    text-align: left;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.border {
    border-width: 1px;
}

.inline-flex {
    display: inline-flex;
}

.font-medium {
    font-weight: 500;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rounded-2xl {
    border-radius: 1rem;
}